@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  font-family: "Rock Salt";
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: gainsboro;
}

html {
  font-size: 38.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #40b48e;
  text-transform: uppercase;
  margin: 0;
  background-color: coral;
  padding: 1rem 63rem;
}

#register {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #40b48e;
  text-transform: uppercase;
  margin: 2rem 5rem;
}

#login {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #40b48e;
  text-transform: uppercase;
  margin: 4rem 0;
}
.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  width: calc(100% - 0.4rem);
  border-radius: 1.2rem;
  padding: 0.2rem;
  background-color: black;
}

.alert h3 {
  font-size: 2rem;
  color: darkmagenta;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-color: #3aafa9;
}
.search-form {
  width: 85rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  margin-top: 7rem;
  position: relative;
}
.search-form input {
  font-size: 1.9rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 5rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #2b7a78;
  background-color: #fff;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #2b7a78;
  color: #fff;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 65 rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #3aafa9;
  padding: 1.5rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 1rem 2rem 3rem #aaa;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: darkmagenta;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: darkmagenta;
  background-color: coral;
  border: none;
  border-radius: 0.5rem;
  height: 5rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 2.5rem;
  color: black;
}
